{% block stylesheets %}
   
    <style>
        /* Style personnalisé pour le titre "Demande de congé" */
        .mt-4  {
            text-align: center;
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        
        <div class="row">
       
            <div class="col-md-6 offset-md-3">
             
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_label(form.Description, 'Description') }}
                        {{ form_widget(form.Description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une description'}}) }}
                        {{ form_errors(form.Description) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.Date_Debut, 'Date de début') }}
                        {{ form_widget(form.Date_Debut, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.Date_Debut) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.Date_Fin, 'Date de fin') }}
                        {{ form_widget(form.Date_Fin, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.Date_Fin) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.Justification, 'Justification') }}
                        {{ form_widget(form.Justification, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une justification'}}) }}
                        {{ form_errors(form.Justification) }}
                    </div>
                    
                    <div class="form-group text-center">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}