{% extends 'back_base.html.twig' %}



{% block body %}


    <h1><center>Liste des demandes de congé</center></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date_Debut</th>
                <th>Date_Fin</th>
                <th>Justification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conge in conges %}
            <tr>
                <td>{{ conge.id }}</td>
                <td>{{ conge.Description }}</td>
                <td>{{ conge.DateDebut ? conge.DateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ conge.DateFin ? conge.DateFin|date('Y-m-d') : '' }}</td>
                <td>{% if conge.Justification is not null %}<img src="{{ asset('uploads/conge/' ~ conge.Justification) }}" alt="Justification "style="width:200px;"> {% else %}
                    Aucun Contrat n'est trouvé
                {% endif %}
</td>
                <td>
                    <a class="btn btn-info" style="width: 110px; " href="{{ path('app_conge_show', {'id': conge.id}) }}">Détailles</a><br>
                    <a  class="btn btn-primary" style="width: 110px; " href="{{ path('app_conge_edit', {'id': conge.id}) }}">modifier</a>
                    {{ include('conge/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-success" style="width: 110px; " href="{{ path('app_conge_new') }}">ajouter</a>
{% endblock %}
