{% extends 'base.html.twig' %}

{% block title %}<title>Siyahi Bank - Home Page</title>{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1>Bienvenu à <span>Siyahi Bank</span></h1>
            <h2>Chez Siyahi Bank, nous nous engageons à fournir des solutions bancaires exceptionnelles aux particuliers et aux entreprises.</h2>
        </div>
    </section><!-- End Hero -->

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bxs-user-account"></i></div>
                        <h4 class="title"><a href="">Gestion des Comptes</a></h4>
                        <p class="description">Gérez vos comptes Siyahi Bank en ligne, consultez l'historique de vos transactions et transférez des fonds entre comptes.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-credit-card"></i></div>
                        <h4 class="title"><a href="">Prêts et crédits</a></h4>
                        <p class="description">Obtenez un prêt ou un crédit auprès de Siyahi Bank pour financer vos besoins personnels ou professionnels.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bxs-offer"></i></div>
                        <h4 class="title"><a href="">Delas intéressant</a></h4>
                        <p class="description">Découvrez les offres spéciales et les réductions des entreprises partenaires de Siyahi Bank.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bxs-caret-down-circle"></i></div>
                        <h4 class="title"><a href="">Gestion des réclamations</a></h4>
                        <p class="description">Envoyez une réclamation à Siyahi Bank si vous n'êtes pas satisfait de nos services.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>À propos</h2>
                <h3>En savoir plus <span>À propos de nous</span></h3>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="{{ asset('front/assets/img/about.jpg') }}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <h3>Découvrez la banque Siyahi.</h3>
                    <p class="fst-italic">
                        Votre partenaire financier de confiance situé à IJK Esprit, Tunisie. Composé d'une équipe dédiée de
                        six membres, nous sommes fiers de fournir des services bancaires inégalés adaptés à vos besoins.
                    </p>
                    <ul>
                        <li>
                            <i class="bx bx-store-alt"></i>
                            <div>
                                <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                                <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                            </div>
                        </li>
                        <li>
                            <i class="bx bx-images"></i>
                            <div>
                                <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                            </div>
                        </li>
                    </ul>
                    <p>
                        Pour commencer votre voyage avec nous, visitez simplement notre siège social et remplissez le formulaire nécessaire, et nous créerons rapidement votre
                        compte sur notre site Internet. Une fois terminé, attendez-vous à recevoir rapidement un e-mail contenant les informations d'identification de votre compte.
                        Chez Siyahi Bank, nous offrons à nos utilisateurs des fonctionnalités pratiques, notamment les transferts d'argent entre comptes,
                        la possibilité de détenir plusieurs comptes et l’accès à des prêts et des facilités de crédit. De plus, nous apprécions vos commentaires et fournissons
                        une plateforme pour soumettre toute demande de renseignements ou réclamation. Explorez les possibilités avec Siyahi Bank et découvrez un monde de
                        des solutions financières meilleures et plus intrigantes.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container" data-aos="zoom-in">

            <div class="row">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('front/assets/img/clients/client-1.png') }}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('front/assets/img/clients/client-2.png') }}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('front/assets/img/clients/client-3.png') }}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('front/assets/img/clients/client-4.png') }}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('front/assets/img/clients/client-5.png') }}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('front/assets/img/clients/client-6.png') }}" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/testimonials/testimonials-1.jpg') }}" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Je ne remercierai jamais assez Siyahi Bank pour son professionnalisme et son efficacité. Leur site Web convivial m'a permis de gérer facilement plusieurs comptes de manière transparente. Je recommande vivement leurs services à toute personne recherchant un partenaire bancaire de confiance.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/testimonials/testimonials-2.jpg') }}" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Je suis vraiment reconnaissant à Siyahi Bank pour son service exceptionnel. L'ouverture d'un compte s'est déroulée sans problème et leur réponse rapide à mes demandes a été impressionnante. Je les recommande vivement à toute personne recherchant des services bancaires fiables.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/testimonials/testimonials-3.jpg') }}" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Un grand merci à Siyahi Bank pour son soutien exceptionnel ! Qu'il s'agisse de m'aider à naviguer dans le processus d'ouverture de compte ou de proposer des options de prêt compétitives, ils ont dépassé mes attentes. Je ne peux pas les recommander assez !
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/testimonials/testimonials-4.jpg') }}" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Siyahi Bank a été pour moi une bouée de sauvetage ! Leur processus rapide d’approbation de prêt m’a aidé à faire face à une urgence financière. Je suis reconnaissant pour leur aide et je les recommanderais certainement à mes amis et à ma famille.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Équipe</h2>
                <h3>Notre équipe <span>travailleuse</span></h3>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ asset('front/assets/img/team/hafedh.jpg') }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Jendoubi Hafedh</h4>
                            <span>PDG</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ asset('front/assets/img/team/yessine.jpg') }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ben Hamroun Yessine</h4>
                            <span>Chef de produit</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ asset('front/assets/img/team/ahmed.jpg') }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Bettaieb Ahmed</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ asset('front/assets/img/team/skander.jpg') }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Kacem Skander</h4>
                            <span>Comptable</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ asset('front/assets/img/team/iheb.jpg') }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amri Iheb</h4>
                            <span>Comptable</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ asset('front/assets/img/team/imed.jpg') }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Khlifi Imed</h4>
                            <span>Comptable</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>FAQ</h2>
                <h3><span>Questions</span></h3> fréquemment posées
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <ul class="faq-list">

                        <li>
                            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Dois-je me rendre en agence pour ouvrir un compte ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Oui, actuellement vous devez vous rendre à notre siège social pour ouvrir un compte. Nous vous aiderons à remplir un formulaire et à configurer votre accès en ligne.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Puis-je avoir plusieurs comptes ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Oui, vous pouvez avoir plusieurs comptes auprès de Siyahi Bank.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">La Siyahi Bank propose-t-elle des prêts et des crédits ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Oui, Siyahi Bank propose des prêts et des crédits. N'hésitez pas à visiter notre succursale ou à nous contacter pour plus d'informations.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Comment soumettre une réclamation ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Siyahi Bank propose un processus de réclamation si vous rencontrez un problème avec nos services. Veuillez nous contacter pour plus d'informations sur la façon de soumettre une réclamation.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Où est située Siyahi Bank ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Siyahi Bank est située à IJK Esprit, Tunisie.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contacter</h2>
                <h3><span>Contactez-nous</span></h3>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Notre adresse</h3>
                        <p>ESPRIT Bloc IJK, La Gazelle, Ariana, Tunisia</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Envoyez-nous un e-mail</h3>
                        <p>siyahi-contact@siyahi.tn</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Appelez-nous</h3>
                        <p>+216 95 052 214</p>
                    </div>
                </div>

            </div>
        </div>
        <div style="margin-left: 600px;" class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d564.0151095737785!2d10.190290203722506!3d36.90108180826077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb1651c504af%3A0x320100dac38457e3!2sEsprit%20Bloc%20I%2CJ%2CK!5e0!3m2!1sen!2stn!4v1707577145993!5m2!1sen!2stn" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
        </div>
    </section><!-- End Contact Section -->
{% endblock %}