{% extends 'back_base.html.twig' %}

{% block title %}Confirmer la Demande{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Veuillez remplir ce champ pour confirmer votre demande</div>

                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                        {{ form_row(form.Nom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.Prenom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.DateDemande, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.numTel, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.TypePaiement, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.CIN, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.Adresse, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.User, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.Achat, {'attr': {'class': 'form-control'}}) }}
                        
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary">Confirmer la Demande</button>
                        </div>

                        {{ form_end(form) }}

                        <a href="{{ path('app_demande_achat_index') }}" class="btn btn-secondary">Retour à la Liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
