<<<<<<< HEAD
{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
=======
{{ form_start(form) }}
>>>>>>> 5a276a0692a17fcdc5d392d533f6c3446e05d56c
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
