{% extends 'back_base.html.twig' %}

{% block title %}ReponseReclamation index{% endblock %}

{% block body %}
    <h1>ReponseReclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>DateCreation</th>
                <th>Auteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_reclamation in reponse_reclamations %}
            <tr>
                <td>{{ reponse_reclamation.id }}</td>
                <td>{{ reponse_reclamation.Description }}</td>
                <td>{{ reponse_reclamation.dateCreation ? reponse_reclamation.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ reponse_reclamation.auteur }}</td>
                <td>
                    <a href="{{ path('app_reponse_reclamation_show', {'id': reponse_reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reponse_reclamation_edit', {'id': reponse_reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_reclamation_new') }}">Create new</a>
{% endblock %}
