{% extends 'base.html.twig' %}

{% block title %}CompteClient index{% endblock %}

{% block body %}
    <h1>CompteClient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>RIB</th>
                <th>Created_at</th>
                <th>Solde</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte_client in compte_clients %}
            <tr>
                <td>{{ compte_client.id }}</td>
                <td>{{ compte_client.Type }}</td>
                <td>{{ compte_client.RIB }}</td>
                <td>{{ compte_client.CreatedAt ? compte_client.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ compte_client.Solde }}</td>
                <td>
                    <a href="{{ path('app_compte_client_show', {'id': compte_client.id}) }}">show</a>
                    <a href="{{ path('app_compte_client_edit', {'id': compte_client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_compte_client_new') }}">Create new</a>
{% endblock %}
