{% extends 'back_base.html.twig' %}


{% block body %}
    <h1>Listes des credits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email_client</th>
                <th>Solde_demande</th>
                <th>Date_debut_paiement</th>
                <th>Nbr_mois_paiement</th>
                <th>Description</th>
                <th>Contrat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credit in credits %}
            <tr>
                <td>{{ credit.id }}</td>
                <td>{{ credit.User.email }}</td>
                <td>{{ credit.soldeDemande }}</td>
                <td>{{ credit.dateDebutPaiement ? credit.dateDebutPaiement|date('Y-m-d') : '' }}</td>
                <td>{{ credit.nbrMoisPaiement }}</td>
                <td>{{ credit.description }}</td>
                <td>
                {% if credit.Contrat is not null %}
                    <img src="{{ asset('uploads/credit/' ~ credit.Contrat) }}" alt="Contrat "style="width:200px;">
                {% else %}
                    Aucun Contrat n'est trouvé
                {% endif %}
                </td>
                <td>
                    <a  class="btn btn-info" style="width: 110px; "  href="{{ path('app_credit_showb', {'id': credit.id}) }}">Détailles</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">La liste est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
