{% extends 'back_base.html.twig' %}

{% block body %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ credit.id }}</td>
                </tr>
                <tr>
                    <th>Solde_demande</th>
                    <td>{{ credit.soldeDemande }} DTN</td>
                </tr>
                <tr>
                    <th>Date_debut_paiement</th>
                    <td>{{ credit.dateDebutPaiement ? credit.dateDebutPaiement|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Nbr_mois_paiement</th>
                    <td>{{ credit.nbrMoisPaiement }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ credit.description }}</td>
                </tr>
                <tr>
                    <th>Contrat</th>
                    <td>
                        {% if credit.Contrat is not null %}
                            <img src="{{ asset('uploads/credit/' ~ credit.Contrat) }}" class="image-cercle" alt="Contrat" style="width:100px;">
                        {% else %}
                            Aucun Contrat n'est trouvé
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    
{% endblock %}
