{% extends 'back_base.html.twig' %}

{% block title %}Credit{% endblock %}

{% block body %}
    <h1>Credit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ credit.id }}</td>
            </tr>
            <tr>
                <th>Email_client</th>
                <td>{{ credit.User.email }}</td>
            </tr>
            <tr>
                <th>Solde_demande</th>
                <td>{{ credit.soldeDemande }}</td>
            </tr>
            <tr>
                <th>Date_debut_paiement</th>
                <td>{{ credit.dateDebutPaiement ? credit.dateDebutPaiement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbr_mois_paiement</th>
                <td>{{ credit.nbrMoisPaiement }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ credit.description }}</td>
            </tr>
              <tr>
                 <th>Contrat</th>
                <td>
                {% if credit.Contrat is not null %}
                    <img src="{{ asset('uploads/credit/' ~ credit.Contrat) }}" alt="Contrat "style="width:600px;height: 600px;">
                {% else %}
                    Aucun Contrat n'est trouvé
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <a  class="btn btn-success" style="width: 110px; " href="{{ path('app_reponse_credit_new') }}">Triter</a>
    <a href="{{ path('app_credit_indexb') }}">retourner à la list</a>

{% endblock %}
