{% extends 'back_base.html.twig' %}


{% block body %}
    <h1>Listes des ReponsesCredits </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreditId</th>
                <th>Solde_a_payer</th>
                <th>Date_debutPaiement</th>
                <th>Nbr_moisPaiement</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        {%  for message in app.flashes('AddReponseCredit')  %}
                            <div class="alert alert-success" role="alert">
                                {{message}}                               </div>
                        {% endfor %}
                        {%  for message in app.flashes('updateReponseCredit')  %}
                            <div class="alert alert-primary" role="alert">
                                {{message}}                               </div>
                        {% endfor %}
                        {%  for message in app.flashes('deleteReponseCredit')  %}
                            <div class="alert alert-danger" role="alert">
                                {{message}}                               </div>
                        {% endfor %}
        <tbody>
        {% for reponse_credit in reponse_credits %}
            <tr>
                <td>{{ reponse_credit.id }}</td>
                <td>{{ reponse_credit.credit.id }}</td>
                <td>{{ reponse_credit.soldeAPayer }}</td>
                <td>{{ reponse_credit.dateDebutPaiement ? reponse_credit.dateDebutPaiement|date('Y-m-d') : '' }}</td>
                <td>{{ reponse_credit.nbrMoisPaiement }}</td>
                <td>{{ reponse_credit.description }}</td>
                <td>
                    <a  class="btn btn-info" style="width: 110px; "  href="{{ path('app_reponse_credit_show', {'id': reponse_credit.id}) }}">Détailles</a>
                    <br>
                    <a class="btn btn-primary" style="width: 110px; " href="{{ path('app_reponse_credit_edit', {'id': reponse_credit.id}) }}">Modifier</a>
                    <br>
                    {{ include('reponse_credit/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">La liste est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(reponse_credits, 'credit/my_custom_template.html.twig') }}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#search-input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <a  class="btn btn-success" style="width: 110px; " href="{{ path('app_reponse_credit_new') }}">Créer</a>
{% endblock %}
