<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }
        table{
            font-size: small;
        }
        tfoot tr td{
            font-weight: bold;
            font-size: x-small;
        }
        td{
            text-align: center;
            height: 50px;
        }
        .signature {
            margin-top: 50px;
            padding: 20px;
            background-color: lightgray;
            text-align: center;
        }
        /* Style pour l'en-tête */
        header {
            text-align: center;
            background-color: #f2f2f2;
            padding: 20px;
        }
        h1 {
            color: #333333;
            font-size: 24px;
            margin-bottom: 10px;
        }
        .logo {
            width: 100px; /* Ajustez la taille de votre logo */
            height: auto;
        }
    </style>

</head>
<body>
<header>
<img src="{{ LogoSrc }}" alt="" width="100" height="100" style="margin-top: 50px;">
    <header>
    
    <h1>Reponse de demande Credit</h1>
    <p>Adresse: 123 Rue, El Ghazala, Tunisie</p>
    <p>Téléphone:+216 95 052 214</p>
     <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">siyahi-contact@siyahi.tn</a></i>
</header>
</header>
<hr>
<br><br>
<table width="100%" border="1">
    <thead style="background-color: lightblue;">  
    <tr>
        <th>Labels</th>
        <th>Informations</th>
    </tr>
    </thead>
    <tbody>
     <tr>
        <th scope="row">Credit_id</th>
        <td>{{ Credit.id }}</td>
    </tr>
     <tr>
        <th scope="row">solde_a_payer</th>
        <td>{{ solde_a_payer }}</td>
    </tr>
    
    <tr>
        <th scope="row">Description</th>
        <td>{{ description }}</td>
    </tr>
    <tr>
        <th scope="row">Date de Debut de paiement</th>
        <td>{{ date_debutPaiement  ? date_debutPaiement|date('Y-m-d') : ''}}</td>
    </tr>
    
    <tr>
        <th scope="row">nbr_moisPaiement</th>
        <td>{{ nbr_moisPaiement}}</td>
    </tr>
   
    </tbody>
</table>
<br><br><br><br>
<div class="signature">
    <p>Signed par Mr Super Admin</p>
    <p>SIYAHI BANK</p>
</div><hr>

</body>
</html>