{% extends 'back_base.html.twig' %}

{% block body %}
    <h1>ReponseCredit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse_credit.id }}</td>
            </tr>
            {% if reponse_credit.credit is not null %}
            <tr>
                <th>Credit_Id</th>
                <td>{{ reponse_credit.credit.id }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Solde_a_payer</th>
                <td>{{ reponse_credit.soldeAPayer }}</td>
            </tr>
            <tr>
                <th>Date_debutPaiement</th>
                <td>{{ reponse_credit.dateDebutPaiement ? reponse_credit.dateDebutPaiement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbr_moisPaiement</th>
                <td>{{ reponse_credit.nbrMoisPaiement }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reponse_credit.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" style="width: 200px;" href="{{ path('app_reponse_credit_index') }}">retourner à la list</a>
    <br>
    <a class="btn btn-primary" style="width: 110px; " href="{{ path('app_reponse_credit_edit', {'id': reponse_credit.id}) }}">Modifier</a>

    {{ include('reponse_credit/_delete_form.html.twig') }}
{% endblock %}
