{% extends 'base.html.twig' %}

{% block body %}
<h2 style="text-align: center;">Bienvenue sur notre Site web Siyahi</h2>

<br>
<br>
<br>

<style>
    .event-details {
        display: flex; /* Utilisation de Flexbox */
        align-items: center; /* Alignement vertical au centre */
    }

    .event-details h3,
    .event-details p {
        margin-left: 150px; /* Marge gauche pour le titre et les paragraphes */
    }

    .event-image {
        margin-left: 200px; /* Marge droite pour l'image */
        border-radius: 1%; /* Rendre l'image ronde */
        overflow: hidden; /* Masquer les parties de l'image qui dépassent du cadre rond */
    }


    .details-container {
        flex-grow: 1; /* Pour que le container des détails prenne autant d'espace que possible */
    }
</style>

<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <div id="google_translate_element"></div>
        </div>
        <div class="row">
            {% for achat in achats %}
            <div class="col-lg-12 mb-4">
                <div class="event-details"> <!-- Utilisation de la classe event-details -->
                    <div class="event-image col-lg-3">
                        <img src="{{ asset('uploads/' ~achat.Image)}}" style="width:400px; height:300px; " alt="">
                    </div>
                    <div class="details-container"> <!-- Ajout d'une classe pour les détails -->
                        <h3>Vous souhaitez acheter une  {{ achat.Type }} ? </h3   >
                        <p><strong style="color:#696969"> {{ achat.Description }}</strong></p>
                        <p><a class="event-details" href="{{ path('app_demande_achat_new',{'idachat':achat.id}) }}" >Plus de détails</a></p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <p class="text-center">Aucun événement trouvé.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>

{% endblock %}

{# 
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <div id="google_translate_element"></div>
        </div>
        <div class="row">
            {% for achat in achats %}
            <div class="col-lg-12 mb-4">
                <div class="event-details {% if loop.index is even %}flex-row-reverse{% endif %}"> <!-- Utilisation de la classe event-details -->
                    <div class="event-image col-lg-3">
                        <img src="{{ asset('uploads/' ~achat.Image)}}" style="width:400px; height:300px; " alt="">
                    </div>
                    <div class="details-container"> <!-- Ajout d'une classe pour les détails -->
                        <h3>Vous souhaitez acheter une  {{ achat.Type }} </h3>
                        <p><strong style="color:#696969"> Description:</strong> {{ achat.Description }}</p>
                        <p><strong style="color:#696969" >Prix:</strong> {{ achat.Prix }} TND</p>
                        <a class="event-details" href="{{ path('app_demande_achat_new',{'idachat':achat.id}) }}" >
                            Plus de détails
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <p class="text-center">Aucun événement trouvé.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>

{% endblock %}#}