{% extends 'back_base.html.twig' %}

{% block title %}<title>Achat index</title>{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Liste des Achats</h1>

    <input id="search-input" type="form-control" placeholder="Chercher..." style="margin-left:125px; width: 400px; border-radius: 10px;" >
    <br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#search-input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for achat in pages %}
                    <tr>
                        <td>{{ achat.id }}</td>
                        <td><img src="{{ asset('uploads/' ~ achat.Image) }}" style="width: 150px; height: 150px;" alt=""/></td>
                        <td>{{ achat.Type }}</td>
                        <td>{{ achat.Description }}</td>
                        <td>
                            <a href="{{ path('app_achat_show', {'id': achat.id}) }}" class="btn btn-success">Afficher</a>
                            <a href="{{ path('app_achat_edit', {'id': achat.id}) }}" class="btn btn-primary">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="text-center">
            <a href="{{ path('app_achat_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
            <br>
          <div class="pagination;align cneter">
        {{ knp_pagination_render(pages,'achat/my_custom_template.html.twig') }}
        </div>

    </div>
{% endblock %}
