{% extends 'back.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   <center><h3> Liste des Articles </h3></center> 

<br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Type</th>
                <th>NbArticle</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td><img src="{{ asset('uploads/' ~article.Image) }}" style=" width:150px; height:150px; " alt=""/></td>
                <td>{{ article.Type }}</td>
                <td>{{ article.NbArticle }}</td>
                <td>{{ article.Description }}</td>
                <td>{{ article.Prix }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
