{% extends 'back_base.html.twig' %}

{% block title %}<title>User Section</title>{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Panneau du personnel/</span> Ajouter nouvel utilisateur</h4>
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Formulaire d'ajout d'un nouveau utilisateur:</h5>
                        <small class="text-muted float-end">Assurez-vous de remplir soigneusement le formulaire</small>
                    </div>
                    <div class="card-body">
                        {{ form_start(formUser, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="row mb-3">
                            {{ form_label(formUser.FirstName) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.FirstName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formUser.FirstName) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(formUser.LastName) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.LastName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formUser.LastName) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(formUser.Gender) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.Gender, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(formUser.Address) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.Address, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formUser.Address) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(formUser.oldemail) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.oldemail, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formUser.oldemail) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(formUser.PhoneNumber) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.PhoneNumber, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formUser.PhoneNumber) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(formUser.CIN) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.CIN, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formUser.CIN) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_label(formUser.image) }}
                            <div class="col-sm-10">
                                {{ form_widget(formUser.image, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(formUser.image) }}
                            </div>
                        </div>
                        <div class="col text-center">
                            {{ form_widget(formUser.Submit) }}
                            {{ form_widget(formUser.Reset) }}
                        </div>
                        {{ form_end(formUser) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}