{% extends 'base.html.twig' %}

{% block title %}<title>User Section</title>{% endblock %}

{% block header %}
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{{ path('app_staff') }}#hero">Siyahi Bank<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#about">About</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#contact">Contact</a></li>
                    <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Operation</a></li>
                            <li class="dropdown"><a href="#"><span>Credit</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Get Credit</a></li>
                                    <li><a href="#">Current Credit Information</a></li>
                                    <li><a href="#">Credits History</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Achat</a></li>
                            <li><a href="#">Reclamation</a></li>
                            <li><a href="#">Conges Request</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff_section') }}">Staff</a></li>
                    <li><a class="nav-link scrollto" href="#">Account</a></li>
                    <li><!-- Just to leave an empty space between Contact & Logout --></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_visitor') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/team/hafedh.jpg') }}" class="testimonial-img" alt="">
                            <h3>Jendoubi Hafedh</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                My eyes are on you Staff Team. You shall never run away from me! I will be always watching you.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="contact">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_start(formUser, {'attr':{'novalidate': 'novalidate'}}) }}
                        <div class="row">
                            <div class="col form-group">
                                {{ form_widget(formUser.FirstName, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                            <div class="col form-group">
                                {{ form_widget(formUser.LastName, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                {{ form_widget(formUser.Address, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                            <div class="col form-group">
                                {{ form_widget(formUser.Gender, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                {{ form_widget(formUser.PhoneNumber, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                            <div class="col form-group">
                                {{ form_widget(formUser.CIN, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="text-center">
                            {{ form_widget(formUser.Submit) }}
                        </div>
                    {{ form_end(formUser) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}