{% extends 'base.html.twig' %}

{% block title %}<title>User Section</title>{% endblock %}

{% block body %}
    <section class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/team/hafedh.jpg') }}" class="testimonial-img" alt="">
                            <h3>Jendoubi Hafedh</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                My eyes are on you Staff Team. You shall never run away from me! I will be always watching you.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="contact">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_start(formUser, {'attr':{'novalidate': 'novalidate'}}) }}
                        <div class="row">
                            <div class="col form-group">
                                {{ form_widget(formUser.FirstName, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                            <div class="col form-group">
                                {{ form_widget(formUser.LastName, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                {{ form_widget(formUser.Address, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                            <div class="col form-group">
                                {{ form_widget(formUser.Gender, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                {{ form_widget(formUser.PhoneNumber, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                            <div class="col form-group">
                                {{ form_widget(formUser.CIN, {'attr':{'class': 'form-control-sm'}}) }}
                            </div>
                        </div>
                        <div class="text-center">
                            {{ form_widget(formUser.Submit) }}
                        </div>
                        {{ form_end(formUser) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}