{% extends 'base.html.twig' %}

{% block title %}<title>User Section</title>{% endblock %}

{% block header %}
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{{ path('app_staff') }}#hero">Siyahi Bank<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#about">About</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff') }}#contact">Contact</a></li>
                    <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Operation</a></li>
                            <li class="dropdown"><a href="#"><span>Credit</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Get Credit</a></li>
                                    <li><a href="#">Current Credit Information</a></li>
                                    <li><a href="#">Credits History</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Achat</a></li>
                            <li><a href="#">Reclamation</a></li>
                            <li><a href="#">Conges Request</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="{{ path('app_staff_section') }}">Staff</a></li>
                    <li><a class="nav-link scrollto" href="#">Account</a></li>
                    <li><!-- Just to leave an empty space between Contact & Logout --></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_visitor') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/team/hafedh.jpg') }}" class="testimonial-img" alt="">
                            <h3>Jendoubi Hafedh</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                My eyes are on you Staff Team. You shall never run away from me! I will be always watching you.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
            </div>
        </div>
    </section>
    <hr>
    <style>
        h1 {
            color:#c00;
            font-family:sans-serif;
            font-size:2em;
            margin-bottom:0;
        }

        table {
            font-family:sans-serif;
            th, td {
                padding:.25em .5em;
                text-align:center;
                &:nth-child(2) {
                    text-align:center;
                }
            }
            td {
                background-color:#eee;
            }
            th {
                background-color:#009;
                color:#fff;
            }
        }

        .zigzag {
            border-collapse:separate;
            border-spacing:.25em 1em;
        }
        thead tr,
        tbody tr:nth-child(even) {
        }
        }
    </style>
    <table class="zigzag" align="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>CIN</th>
            <th>Created At</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        {% for user in tabUsers %}
            <tr>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>
                {% if user.Gender == 'M' %}
                    <td>Male</td>
                {% else %}
                    <td>Female</td>
                {% endif %}
                <td>{{ user.Address }}</td>
                <td>{{ user.PhoneNumber }}</td>
                <td>{{ user.CIN }}</td>
                <td>{{ user.CreatedAt | date("F jS \\a\\t g:ia") }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role != 'ROLE_USER' %}
                            {{ role }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a class="text-center" href="{{ path('removeUser', { id: user.id }) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <hr>
{% endblock %}