{% extends 'base.html.twig' %}

{% block title %}<title>User Section</title>{% endblock %}

{% block body %}
    <section class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="{{ asset('front/assets/img/team/hafedh.jpg') }}" class="testimonial-img" alt="">
                            <h3>Jendoubi Hafedh</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                My eyes are on you Staff Team. You shall never run away from me! I will be always watching you.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
            </div>
        </div>
    </section>
    <hr>
    <style>
        h1 {
            color:#c00;
            font-family:sans-serif;
            font-size:2em;
            margin-bottom:0;
        }

        table {
            font-family:sans-serif;
            th, td {
                padding:.25em .5em;
                text-align:center;
                &:nth-child(2) {
                    text-align:center;
                }
            }
            td {
                background-color:#eee;
            }
            th {
                background-color:#009;
                color:#fff;
            }
        }

        .zigzag {
            border-collapse:separate;
            border-spacing:.25em 1em;
        }
        thead tr,
        tbody tr:nth-child(even) {
        }
    </style>
    <table class="zigzag" align="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>CIN</th>
            <th>Created At</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        {% for user in tabUsers %}
            <tr>
                <td>{{ user.LastName }}</td>
                <td>{{ user.FirstName }}</td>
                {% if user.Gender == 'M' %}
                    <td>Male</td>
                {% else %}
                    <td>Female</td>
                {% endif %}
                <td>{{ user.Address }}</td>
                <td>{{ user.PhoneNumber }}</td>
                <td>{{ user.CIN }}</td>
                <td>{{ user.CreatedAt | date("F jS \\a\\t g:ia") }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                            User
                        {% elseif role == "ROLE_STAFF" %}
                            Staff
                        {% elseif role == "ROLE_ADMIN" %}
                            Admin
                        {% else %}
                            Super Admin
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a class="text-center" href="{{ path('removeUser', { id: user.id }) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <hr>
{% endblock %}