{% extends 'back_base.html.twig' %}

{% block title %}<title>Admin - Users List</title>{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Panneau du Admin /</span> La liste des utilisateurs</h4>

            <input id="search-input" type="form-control" placeholder="Chercher..." style="width: 400px; border-radius: 10px;" >
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    $("#search-input").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $("table tbody tr").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>

            <!-- Basic Bootstrap Table -->
            <br><br>
            <div class="card">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Activité</th>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Genre</th>
                            <th>Adresse</th>
                            <th>Numéro de téléphone</th>
                            <th>CIN</th>
                            <th>Rôle</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <tbody class="table-border-bottom-0">
                            <tr>
                                {% for user in tabUsers %}
                                {% for role in user.roles %}
                                    {% if role != "ROLE_SUPER_ADMIN" %}
                                        {% if user.activity == "T" %}
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                        {% else %}
                                            <td><span class="badge bg-label-danger me-1">Inactive</span></td>
                                        {% endif %}
                                        <td>
                                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{ user.LastName ~ " " ~ user.FirstName }}">
                                                    <a href="{{ path('user_account', { id: user.id }) }}"><img src="{{ asset('uploads/user/' ~ user.image) }}"  alt="Avatar" class="rounded-circle"></a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i>{{ user.LastName }}</td>
                                        <td>{{ user.FirstName }}</td>
                                        {% if user.Gender == 'M' %}
                                            <td>Male</td>
                                        {% else %}
                                            <td>Female</td>
                                        {% endif %}
                                        <td>{{ user.Address }}</td>
                                        <td>{{ user.PhoneNumber }}</td>
                                        <td>{{ user.CIN }}</td>
                                        <td>
                                            {% for role in user.roles %}
                                                {% if role == "ROLE_USER" %}
                                                    Client
                                                {% elseif role == "ROLE_STAFF" %}
                                                    Personnel
                                                {% else %}
                                                    Admin
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{{ path('updateUser', { id: user.id}) }}"><i class="bx bx-edit-alt me-1"></i> Modifier</a>
                                                    <a class="dropdown-item" href="{{ path('removeUser', { id: user.id }) }}" data-confirm="Êtes-vous sûr de vouloir supprimer cet utilisateur?"><i class="bx bx-trash me-1"></i> Supprimer</a>
                                                    {% if user.activity == "T" %}
                                                        <a class="dropdown-item" href="{{ path('disable_user_account', { id: user.id}) }}" data-confirm="Êtes-vous sûr de vouloir désactiver le compte de cet utilisateur?"><i class="bx bx-lock-alt me-1"></i> Désactiver</a>
                                                    {% else %}
                                                        <a class="dropdown-item" href="{{ path('enable_user_account', { id: user.id}) }}"><i class="bx bx-lock-open me-1"></i> Activer</a>
                                                    {% endif %}
                                                    <a class="dropdown-item" href="{{ path('pdf_generator', { id: user.id}) }}"><i class="bx bxs-file-pdf me-1"></i> PDF</a>
                                                </div>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        {% elseif is_granted("ROLE_ADMIN") %}
                            <tbody class="table-border-bottom-0">
                            <tr>
                                {% for user in tabUsers %}
                                {% for role in user.roles %}
                                    {% if role != "ROLE_SUPER_ADMIN" and role != "ROLE_ADMIN" %}
                                        {% if user.activity == "T" %}
                                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                                        {% else %}
                                            <td><span class="badge bg-label-danger me-1">Inactive</span></td>
                                        {% endif %}
                                        <td>
                                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{ user.LastName ~ " " ~ user.FirstName }}">
                                                    <a href="{{ path('user_account', { id: user.id }) }}"><img src="{{ asset('uploads/user/' ~ user.image) }}"  alt="Avatar" class="rounded-circle"></a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i>{{ user.LastName }}</td>
                                        <td>{{ user.FirstName }}</td>
                                        {% if user.Gender == 'M' %}
                                            <td>Male</td>
                                        {% else %}
                                            <td>Female</td>
                                        {% endif %}
                                        <td>{{ user.Address }}</td>
                                        <td>{{ user.PhoneNumber }}</td>
                                        <td>{{ user.CIN }}</td>
                                        <td>
                                            {% for role in user.roles %}
                                                {% if role == "ROLE_USER" %}
                                                    Client
                                                {% else %}
                                                    Personnel
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{{ path('updateUser', { id: user.id}) }}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                                    <a class="dropdown-item" href="{{ path('removeUser', { id: user.id }) }}" data-confirm="Are you sure you want to delete this user?"><i class="bx bx-trash me-1"></i> Delete</a>
                                                    {% if user.activity == "T" %}
                                                        <a class="dropdown-item" href="{{ path('disable_user_account', { id: user.id}) }}" data-confirm="Are you sure you want to disable this user's account?"><i class="bx bx-lock-alt me-1"></i> Disable</a>
                                                    {% else %}
                                                        <a class="dropdown-item" href="{{ path('enable_user_account', { id: user.id}) }}"><i class="bx bx-lock-open me-1"></i> Enable</a>
                                                    {% endif %}
                                                    <a class="dropdown-item" href="{{ path('pdf_generator', { id: user.id}) }}"><i class="bx bxs-file-pdf me-1"></i> PDF</a>
                                                </div>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                        <script>
                            document.querySelectorAll('[data-confirm]').forEach(el => {
                                el.addEventListener('click', (event) => {
                                    const confirmed = confirm(el.dataset.confirm);
                                    if (!confirmed) {
                                        event.preventDefault(); // Prevent default action if not confirmed
                                    }
                                });
                            });
                        </script>
                    </table>
                </div>
            </div>
            <!--/ Basic Bootstrap Table -->
        </div>
        <!-- / Content -->

        <div class="content-backdrop fade"></div>
    </div>
{% endblock %}
