{% block stylesheets %}
   
    <style>
        /* Style personnalisé pour le titre "Demande de congé" */
        .mt-4  {
            text-align: center;
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .error {
    color: red;
}
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        
        <div class="row">
       
            <div class="col-md-6 offset-md-3">
             
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_label(form.description, 'Description') }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une description'}}) }}
                        {{ form_errors(form.description) }}
                        
                    </div>
                    <div class="form-group">
                        {{ form_label(form.DateDebut, 'Date de début') }}
                        {{ form_widget(form.DateDebut, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.DateDebut) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.DateFin, 'Date de fin') }}
                        {{ form_widget(form.DateFin, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.DateFin) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.Conge, 'Date de fin') }}
                        {{ form_widget(form.Conge, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.Conge) }}
                    </div>
                    
                   
                    <div class="form-group text-center">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}