{% extends 'back_base.html.twig' %}

{% block title %}ReponseConge{% endblock %}

{% block body %}
<<<<<<< HEAD
=======
<div id="google_translate_element"></div>
<script type="text/javascript">
    

    function translateToEnglish() {
        var el = document.getElementById("google_translate_element").querySelector(".goog-te-combo");
        el.value = "en";
        el.dispatchEvent(new Event('change'));
    }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'fr', includedLanguages: 'en', autoDisplay: false}, 'google_translate_element');
    }
</script>
>>>>>>> 7ceaf174d827fd9d9c23ae4ada7aca90286f7c21
    <h1>ReponseConge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse_conge.id }}</td>
            </tr>
            <tr>
                <th>Id_conge</th>
                <td>{{ reponse_conge.conge.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reponse_conge.description}}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ reponse_conge.DateDebut ? reponse_conge.DateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ reponse_conge.DateFin ? reponse_conge.DateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_conge_index') }}">retour à liste </a>
<<<<<<< HEAD
<a href="{{ path('app_reponse_conge_edit', {'id': reponse_conge.id}) }}">
    <img src="{{ asset('front/assets/img/team/edit.png') }}" alt="Modifier" style="width: 25px;">
 </a>
    {{ include('reponse_conge/_delete_form.html.twig') }}
=======
 <a  class="btn btn-outline-primary" style="width: 100px; " href="{{ path('app_reponse_conge_edit', {'id': reponse_conge.id}) }}">modifier</a><br>
                     <a  class="btn btn-outline-danger" style="width: 100px; " onclick="return confirm('Are you sure you want to delete this item?')" href="{{ path('app_reponse_conge_delete1', {'id': reponse_conge.id}) }}">supprimer</a><br>
>>>>>>> 7ceaf174d827fd9d9c23ae4ada7aca90286f7c21
{% endblock %}
